<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>V-if</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
    <div id = "app">
        <button v-on:click="switchShow">Switch</button>
        <div v-if="isShow">Hello1</div>
        <div v-if="!isShow">Hello2</div>
        {{ isShow }}
    </div>
    
       <script>
           const App = {
               data(){
                   return{
                       isShow: true
                   }
               },
               methods:{
                   switchShow(){
                       this.isShow=!this.isShow
                   }
               }     
           }
           Vue.createApp(App).mount('#app')
        </script>
</body>
</html>