<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>v-model</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
    <div id = "app">
       <input type="text" v-model="message">
       {{message}}<br>
       <input type="email" v-model="email">
       {{email}}<br>
       <input type="number" v-model="number1">
       {{number1}}<br>
       
    </div>
    
       <script>
           const App = {
               data(){
                   return{
                       message: 'Hello',
                       email: '62160069@go.buu.ac.th',
                       number1: 0
                   }
               },
               methods:{}     
           }
           Vue.createApp(App).mount('#app')
        </script>
</body>
</html>