<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Hello World</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
    <div id = "app">
        <h1>{{ message }}</h1>
        <p>{{ message }}</p>
    </div>

    <div id = "app1">
        {{ count }}
    </div>

    <script>
        const App = {
            data(){
                return {
                    message: 'Hello Bm!!!!'               
                }
            }
        }
        Vue.createApp(App).mount('#app')

        const App2 = {
            data(){
                return {
                    count: 1               
                }
            }
        }
        Vue.createApp(App2).mount('#app1')
    </script>
</body>
</html>