<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Counter2</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
    <div id = "app">
        <h1>
            <button @click="dec()">-</button>
            {{counter}}
            <button @click="inc()">+</button>
        </h1>
        
    </div>
    
       <script>
           const App = {
               data(){
                   return{
                       counter: 0
                   }
               },methods:{
                    inc(){
                        this.counter++
                    },
                    dec(){
                        if(this.counter==0) return
                        this.counter--
                    }
               },mounted(){
               
                }        
           }
           Vue.createApp(App).mount('#app')
        </script>
</body>
</html>