<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Counter</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
   <div id = "app">
    {{counter}}
   </div>

   <script>
       const App = {
           data(){
               return{
                   counter: 0
               }
           },
           mounted(){
               setInterval(() => {
                     this.counter++
               },1000)
           }
       }
       const vue = Vue.createApp(App)
       vue.mount('#app')
   </script>
</body>
</html>