<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>v-html</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
    <div id = "app">
       <textarea cols="30" rows="10" v-model="html"></textarea>
       <div>{{html}}</div>
       <div v-html="html">{{html}}</div>
       
    </div>
       <script>
           const App = {
               data(){
                   return{
                       html: ''
                   }
               },
               methods:{}
           }
           Vue.createApp(App).mount('#app')
        </script>
</body>
</html>